db.lock
BuyTroops/obj/Debug/*
.vs/BuyTroops/v17/.suo
.vs/BuyTroops/FileContentIndex/06df6d1a-8b88-44cf-9fb9-a587bc33d200.vsidx
.vs/BuyTroops/FileContentIndex/f9907faf-7301-4e3f-908e-06cfcb4cc6ca.vsidx
.vs/BuyTroops/v17/.suo
